In [67]:
import re
import numpy as np
import pandas as pd
from pandas import json_normalize
import requests
import requests
from bs4 import BeautifulSoup

In [68]:
pd.set_option('display.max_columns', None)

In [69]:
schools = {   
'ironhack' : 10828,
'app-academy' : 10525, 
'brainstation' : 10571,
'udacity' : 11118,
'design-sprint-school' : 10698,
'neoland' : 10906,
'ux-design-institute' : 11150,
'careerfoundry' : 10581,
'springboard' : 11035,
'codesmith' : 10643,
'devmountain' : 10710,
'le-wagon' : 10868,
'tech-elevator' : 11056,
'hack-reactor' : 10788,
'fullstack-academy' : 10751,
'the-tech-academy' : 11091,
'bloomtech' : 10854  
}


def get_comments_school(school):
    TAG_RE = re.compile(r'<[^>]+>')
    # defines url to make api call to data -> dynamic with school if you want to scrape competition
    url = "https://www.switchup.org/chimera/v1/school-review-list?mainTemplate=school-review-list&path=%2Fbootcamps%2F" + school + "&isDataTarget=false&page=3&perPage=10000&simpleHtml=true&truncationLength=250"
    #makes get request and converts answer to json
    # url defines the page of all the information, request is made, and information is returned to data variable
    data = requests.get(url).json()
    #converts json to dataframe
    reviews =  pd.DataFrame(data['content']['reviews'])
  
    #aux function to apply regex and remove tags
    def remove_tags(x):
        return TAG_RE.sub('',x)
    reviews['review_body'] = reviews['body'].apply(remove_tags)
    reviews['school'] = school
    return reviews

In [70]:
# could you write this as a list comprehension? ;)
comments = []

for school in schools.keys():
    print(school)
    comments.append(get_comments_school(school))

comments = pd.concat(comments)

ironhack
app-academy
brainstation
udacity
design-sprint-school
neoland
ux-design-institute
careerfoundry
springboard
codesmith
devmountain
le-wagon
tech-elevator
hack-reactor
fullstack-academy
the-tech-academy
bloomtech

In [71]:
# adding the school_id column
comments['school_id'] = [schools[row] for row in comments.school if row in schools.keys()]

In [72]:
comments

,id,name,anonymous,hostProgramName,graduatingYear,isAlumni,jobTitle,tagline,body,rawBody,createdAt,queryDate,program,user,overallScore,comments,overall,curriculum,jobSupport,review_body,school,school_id
0,306372,Sergio Burgos,False,None,2023.0,False,International Negotiator,The Most Intense Academic Challenge,"<span class=""truncatable""><p></p><p>After comp...",<p>After completing my Data Analytics Bootcamp...,11/10/2023,2023-11-10,Data Analytics Bootcamp,{'image': None},3.3,[],3.0,3.0,4.0,After completing my Data Analytics Bootcamp wi...,ironhack,10828
1,306215,Anonymous,True,None,2023.0,True,,Transformative Experience: My Time at Ironhack,"<span class=""truncatable""><p></p><p>Pros: 1)In...",<p>Pros: 1)Intensive Learning 2)Real-World Pro...,11/6/2023,2023-11-06,Web Development Bootcamp,{'image': None},4.0,[],4.0,4.0,4.0,Pros: 1)Intensive Learning 2)Real-World Projec...,ironhack,10828
2,306068,Anonymous,True,None,2023.0,False,Full stack development,Now I can do it,"<span class=""truncatable""><p></p><p>7 months a...","<p>7 months ago, I only had an idea about html...",10/31/2023,2023-10-31,None,{'image': None},5.0,[],5.0,5.0,5.0,"7 months ago, I only had an idea about html an...",ironhack,10828
3,305297,Utku Cikmaz,False,None,2023.0,False,Full Stack Web Developer,It was good,"<span class=""truncatable""><p></p><p>The course...","<p>The course was great. Especially, Luis is a...",10/2/2023,2023-10-02,Web Development Bootcamp,{'image': None},4.0,[],5.0,3.0,4.0,"The course was great. Especially, Luis is a gr...",ironhack,10828
4,305278,Nirmal Hodge,False,None,2023.0,False,Product Designer,Ironhack 100% Worth It!,"<span class=""truncatable""><p></p><p>I joined t...",<p>I joined the UX/ UI Bootcamp and to be hone...,9/30/2023,2023-09-30,UX/UI Design Bootcamp,{'image': None},5.0,[],5.0,5.0,5.0,I joined the UX/ UI Bootcamp and to be honest ...,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,235672,William Terry,False,Web Development,2017.0,True,Website Developer,Best bootcamp for web developers,"<span class=""truncatable""><p>I went to Lambda ...",I went to Lambda School to improve little skil...,4/20/2017,2017-04-20,None,{'image': None},5.0,[],5.0,5.0,5.0,I went to Lambda School to improve little skil...,bloomtech,10854
193,235716,Marcus Latimer,False,None,2017.0,True,Systems Engineer,Phenomenal in every way,"<span class=""truncatable""><p>I am a person wit...",I am a person with a mediocre background in co...,4/20/2017,2017-04-20,None,{'image': None},5.0,[],5.0,5.0,5.0,I am a person with a mediocre background in co...,bloomtech,10854
194,235713,Steve Booth,False,UX/UI Design,2017.0,True,Web Designer /Artist,Turn anything you know turns into skill,"<span class=""truncatable""><p>Art is my passion...",Art is my passion. I always was fascinated abo...,4/19/2017,2017-04-19,None,{'image': None},4.3,[],4.0,5.0,4.0,Art is my passion. I always was fascinated abo...,bloomtech,10854
195,235671,Branden Tucker,False,None,2017.0,True,Front End Developer,Challenging but fun,"<span class=""truncatable""><p>I have had a fair...",I have had a fair bit of experience with compu...,4/19/2017,2017-04-19,None,{'image': None},3.7,[],4.0,4.0,3.0,I have had a fair bit of experience with compu...,bloomtech,10854
196,235700,Aidan Mills,False,None,2017.0,True,Web Developer,Great Teachers,"<span class=""truncatable""><p>I majored in Crim...",I majored in Criminal Justice from University ...,4/19/2017,2017-04-19,None,{'image': None},5.0,[],5.0,5.0,5.0,I majored in Criminal Justice from University ...,bloomtech,10854

In [73]:
comments.shape

(10724, 22)

In [74]:
comments.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10724 entries, 0 to 196
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               10724 non-null  int64
 1   name             10724 non-null  object
 2   anonymous        10724 non-null  bool
 3   hostProgramName  4671 non-null   object
 4   graduatingYear   10672 non-null  float64
 5   isAlumni         10712 non-null  object
 6   jobTitle         6289 non-null   object
 7   tagline          10723 non-null  object
 8   body             10724 non-null  object
 9   rawBody          10724 non-null  object
 10  createdAt        10724 non-null  object
 11  queryDate        10724 non-null  object
 12  program          9432 non-null   object
 13  user             10724 non-null  object
 14  overallScore     10712 non-null  object
 15  comments         10724 non-null  object
 16  overall          10710 non-null  object
 17  curriculum       10497 non-null  object
 18  jobSupport       9933 non-null   object
 19  review_body      10724 non-null  object
 20  school           10724 non-null  object
 21  school_id        10724 non-null  int64
dtypes: bool(1), float64(1), int64(2), object(18)
memory usage: 1.8+ MB

In [75]:
non_nul_comments = [i for i in comments.comments if len(i)>0]
len(non_nul_comments)

206

In [76]:
clean_comments = comments.drop(columns=['hostProgramName','body','rawBody','user','comments','queryDate',])
clean_comments.reset_index().drop(columns='index')
clean_comments

,id,name,anonymous,graduatingYear,isAlumni,jobTitle,tagline,createdAt,program,overallScore,overall,curriculum,jobSupport,review_body,school,school_id
0,306372,Sergio Burgos,False,2023.0,False,International Negotiator,The Most Intense Academic Challenge,11/10/2023,Data Analytics Bootcamp,3.3,3.0,3.0,4.0,After completing my Data Analytics Bootcamp wi...,ironhack,10828
1,306215,Anonymous,True,2023.0,True,,Transformative Experience: My Time at Ironhack,11/6/2023,Web Development Bootcamp,4.0,4.0,4.0,4.0,Pros: 1)Intensive Learning 2)Real-World Projec...,ironhack,10828
2,306068,Anonymous,True,2023.0,False,Full stack development,Now I can do it,10/31/2023,None,5.0,5.0,5.0,5.0,"7 months ago, I only had an idea about html an...",ironhack,10828
3,305297,Utku Cikmaz,False,2023.0,False,Full Stack Web Developer,It was good,10/2/2023,Web Development Bootcamp,4.0,5.0,3.0,4.0,"The course was great. Especially, Luis is a gr...",ironhack,10828
4,305278,Nirmal Hodge,False,2023.0,False,Product Designer,Ironhack 100% Worth It!,9/30/2023,UX/UI Design Bootcamp,5.0,5.0,5.0,5.0,I joined the UX/ UI Bootcamp and to be honest ...,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,235672,William Terry,False,2017.0,True,Website Developer,Best bootcamp for web developers,4/20/2017,None,5.0,5.0,5.0,5.0,I went to Lambda School to improve little skil...,bloomtech,10854
193,235716,Marcus Latimer,False,2017.0,True,Systems Engineer,Phenomenal in every way,4/20/2017,None,5.0,5.0,5.0,5.0,I am a person with a mediocre background in co...,bloomtech,10854
194,235713,Steve Booth,False,2017.0,True,Web Designer /Artist,Turn anything you know turns into skill,4/19/2017,None,4.3,4.0,5.0,4.0,Art is my passion. I always was fascinated abo...,bloomtech,10854
195,235671,Branden Tucker,False,2017.0,True,Front End Developer,Challenging but fun,4/19/2017,None,3.7,4.0,4.0,3.0,I have had a fair bit of experience with compu...,bloomtech,10854
196,235700,Aidan Mills,False,2017.0,True,Web Developer,Great Teachers,4/19/2017,None,5.0,5.0,5.0,5.0,I majored in Criminal Justice from University ...,bloomtech,10854

In [77]:

clean_comments.isna().sum()

id                   0
name                 0
anonymous            0
graduatingYear      52
isAlumni            12
jobTitle          4435
tagline              1
createdAt            0
program           1292
overallScore        12
overall             14
curriculum         227
jobSupport         791
review_body          0
school               0
school_id            0
dtype: int64

In [78]:
# NANs
clean_comments.dropna(thresh=round(0.8*clean_comments.shape[1]), inplace=True)

In [79]:
#"Regarding the 'graduatingYear' feature: To maintain the date datatype for this feature, we have dropped all the null values in this column. If the NaN values
# were filled in with the term 'not specified,' Python would convert the data type of this feature to an object, which is not preferable."
clean_comments.dropna(subset=['graduatingYear'],inplace=True)

In [80]:
# By applying the same tationale to isAlumni feature
clean_comments.dropna(subset=['isAlumni'],inplace=True)

In [81]:
#First fill in all the empty values with nan
clean_comments = clean_comments.replace(r'^\s*$', np.nan, regex=True)
# Jobtitle nan values are filled in with 'Not specified' term
clean_comments['jobTitle'].fillna('Not specified', inplace=True)
# The same story goes with the program
clean_comments['program'].fillna('Not specified', inplace=True)
#The same story goes with the tagline
clean_comments['tagline'].fillna('Not specified', inplace=True)

In [82]:
# To fill in the nan values in four score columns, first the values should convered to float
clean_comments['overallScore'] = clean_comments['overallScore'].astype('float')
clean_comments['overall'] = clean_comments['overall'].astype('float')
clean_comments['curriculum'] = clean_comments['curriculum'].astype('float')
clean_comments['jobSupport'] = clean_comments['jobSupport'].astype('float')

In [83]:
#Then we replaced all the nan values with the median of all the available values for that variable 
#in the corresponding school
fill_na_by_schools = clean_comments.groupby('school')
clean_comments['overallScore'] = fill_na_by_schools['overallScore'].transform(lambda x: x.fillna(x.median()))
clean_comments['overall'] = fill_na_by_schools['overall'].transform(lambda x: x.fillna(x.median()))
clean_comments['curriculum'] = fill_na_by_schools['curriculum'].transform(lambda x: x.fillna(x.median()))
clean_comments['jobSupport'] = fill_na_by_schools['jobSupport'].transform(lambda x: x.fillna(x.median()))

In [84]:
clean_comments

,id,name,anonymous,graduatingYear,isAlumni,jobTitle,tagline,createdAt,program,overallScore,overall,curriculum,jobSupport,review_body,school,school_id
0,306372,Sergio Burgos,False,2023.0,False,International Negotiator,The Most Intense Academic Challenge,11/10/2023,Data Analytics Bootcamp,3.3,3.0,3.0,4.0,After completing my Data Analytics Bootcamp wi...,ironhack,10828
1,306215,Anonymous,True,2023.0,True,Not specified,Transformative Experience: My Time at Ironhack,11/6/2023,Web Development Bootcamp,4.0,4.0,4.0,4.0,Pros: 1)Intensive Learning 2)Real-World Projec...,ironhack,10828
2,306068,Anonymous,True,2023.0,False,Full stack development,Now I can do it,10/31/2023,Not specified,5.0,5.0,5.0,5.0,"7 months ago, I only had an idea about html an...",ironhack,10828
3,305297,Utku Cikmaz,False,2023.0,False,Full Stack Web Developer,It was good,10/2/2023,Web Development Bootcamp,4.0,5.0,3.0,4.0,"The course was great. Especially, Luis is a gr...",ironhack,10828
4,305278,Nirmal Hodge,False,2023.0,False,Product Designer,Ironhack 100% Worth It!,9/30/2023,UX/UI Design Bootcamp,5.0,5.0,5.0,5.0,I joined the UX/ UI Bootcamp and to be honest ...,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192,235672,William Terry,False,2017.0,True,Website Developer,Best bootcamp for web developers,4/20/2017,Not specified,5.0,5.0,5.0,5.0,I went to Lambda School to improve little skil...,bloomtech,10854
193,235716,Marcus Latimer,False,2017.0,True,Systems Engineer,Phenomenal in every way,4/20/2017,Not specified,5.0,5.0,5.0,5.0,I am a person with a mediocre background in co...,bloomtech,10854
194,235713,Steve Booth,False,2017.0,True,Web Designer /Artist,Turn anything you know turns into skill,4/19/2017,Not specified,4.3,4.0,5.0,4.0,Art is my passion. I always was fascinated abo...,bloomtech,10854
195,235671,Branden Tucker,False,2017.0,True,Front End Developer,Challenging but fun,4/19/2017,Not specified,3.7,4.0,4.0,3.0,I have had a fair bit of experience with compu...,bloomtech,10854
196,235700,Aidan Mills,False,2017.0,True,Web Developer,Great Teachers,4/19/2017,Not specified,5.0,5.0,5.0,5.0,I majored in Criminal Justice from University ...,bloomtech,10854

In [85]:
clean_comments.dtypes

id                  int64
name               object
anonymous            bool
graduatingYear    float64
isAlumni             bool
jobTitle           object
tagline            object
createdAt          object
program            object
overallScore      float64
overall           float64
curriculum        float64
jobSupport        float64
review_body        object
school             object
school_id           int64
dtype: object

In [86]:
#to use the data frame in another .ipynb file
%store clean_comments

Stored 'clean_comments' (DataFrame)

In [87]:
def get_school_info(school, school_id):
    url = 'https://www.switchup.org/chimera/v1/bootcamp-data?mainTemplate=bootcamp-data%2Fdescription&path=%2Fbootcamps%2F'+ str(school) + '&isDataTarget=false&bootcampId='+ str(school_id) + '&logoTag=logo&truncationLength=250&readMoreOmission=...&readMoreText=Read%20More&readLessText=Read%20Less'

    data = requests.get(url).json()

    data.keys()

    courses = data['content']['courses']
    courses_df = pd.DataFrame(courses, columns= ['courses'])

    locations = data['content']['locations']
    locations_df = json_normalize(locations)

    badges_df = pd.DataFrame(data['content']['meritBadges'])
    
    website = data['content']['webaddr']
    description = data['content']['description']
    logoUrl = data['content']['logoUrl']
    school_df = pd.DataFrame([website,description,logoUrl]).T
    school_df.columns =  ['website','description','LogoUrl']

    locations_df['school'] = school
    courses_df['school'] = school
    badges_df['school'] = school
    school_df['school'] = school
    

    locations_df['school_id'] = school_id
    courses_df['school_id'] = school_id
    badges_df['school_id'] = school_id
    school_df['school_id'] = school_id

    return locations_df, courses_df, badges_df, school_df

locations_list = []
courses_list = []
badges_list = []
schools_list = []

for school, id in schools.items():
    print(school)
    a,b,c,d = get_school_info(school,id)
    
    locations_list.append(a)
    courses_list.append(b)
    badges_list.append(c)
    schools_list.append(d)

ironhack
app-academy
brainstation
udacity
design-sprint-school
neoland
ux-design-institute
careerfoundry
springboard
codesmith
devmountain
le-wagon
tech-elevator
hack-reactor
fullstack-academy
the-tech-academy
bloomtech

In [88]:
locations = pd.concat(locations_list)
locations

,id,description,country.id,country.name,country.abbrev,city.id,city.name,city.keyword,state.id,state.name,state.abbrev,state.keyword,school,school_id
0,15901,"Berlin, Germany",57.0,Germany,DE,31156.0,Berlin,berlin,NaN,NaN,NaN,NaN,ironhack,10828
1,16022,"Mexico City, Mexico",29.0,Mexico,MX,31175.0,Mexico City,mexico-city,NaN,NaN,NaN,NaN,ironhack,10828
2,16086,"Amsterdam, Netherlands",59.0,Netherlands,NL,31168.0,Amsterdam,amsterdam,NaN,NaN,NaN,NaN,ironhack,10828
3,16088,"Sao Paulo, Brazil",42.0,Brazil,BR,31121.0,Sao Paulo,sao-paulo,NaN,NaN,NaN,NaN,ironhack,10828
4,16109,"Paris, France",38.0,France,FR,31136.0,Paris,paris,NaN,NaN,NaN,NaN,ironhack,10828
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,17372,"Jacksonville, FL, United States",1.0,United States,US,30.0,Jacksonville,jacksonville,11.0,Florida,FL,florida,fullstack-academy,10751
7,17373,"Baton Rouge, LA, United States",1.0,United States,US,46.0,Baton Rouge,baton-rouge,20.0,Louisiana,LA,louisiana,fullstack-academy,10751
0,15729,"Portland, OR, United States",1.0,United States,US,76.0,Portland,portland,39.0,Oregon,OR,oregon,the-tech-academy,11091
1,16404,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,the-tech-academy,11091
0,15993,Online,NaN,NaN,NaN,NaN,NaN,NaN,1.0,Online,Online,online,bloomtech,10854

In [89]:
locations.shape

(99, 14)

In [90]:
locations.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99 entries, 0 to 0
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              99 non-null     int64
 1   description     99 non-null     object
 2   country.id      82 non-null     float64
 3   country.name    82 non-null     object
 4   country.abbrev  82 non-null     object
 5   city.id         82 non-null     float64
 6   city.name       82 non-null     object
 7   city.keyword    82 non-null     object
 8   state.id        49 non-null     float64
 9   state.name      49 non-null     object
 10  state.abbrev    49 non-null     object
 11  state.keyword   49 non-null     object
 12  school          99 non-null     object
 13  school_id       99 non-null     int64
dtypes: float64(3), int64(2), object(9)
memory usage: 11.6+ KB

In [91]:
locations.fillna('not applicable',inplace=True)

/var/folders/xb/vbkygnls2kq6z12lrq5ymftc0000gn/T/ipykernel_20079/1371525063.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value 'not applicable' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  locations.fillna('not applicable',inplace=True)

In [92]:
courses = pd.concat(courses_list)
courses

                                      courses            school  school_id
0                     Cyber Security Bootcamp          ironhack      10828
1                     Cybersecurity Part-Time          ironhack      10828
2                     Data Analytics Bootcamp          ironhack      10828
3                    Data Analytics Part-Time          ironhack      10828
4                       UX/UI Design Bootcamp          ironhack      10828
..                                        ...               ...        ...
32        Self-Paced UI/UX Designer Boot Camp  the-tech-academy      11091
0   Free Coding Course: Intro to HTML and CSS         bloomtech      10854
1               Full Time Backend Development         bloomtech      10854
2                      Full Time Data Science         bloomtech      10854
3        Full Time Full Stack Web Development         bloomtech      10854

[185 rows x 3 columns]

In [93]:
courses.shape

(185, 3)

In [94]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185 entries, 0 to 3
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   courses    185 non-null    object
 1   school     185 non-null    object
 2   school_id  185 non-null    int64
dtypes: int64(1), object(2)
memory usage: 5.8+ KB

In [95]:
badges = pd.concat(badges_list)
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,<p>School offers fully online courses</p>,ironhack,10828
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,ironhack,10828
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ironhack,10828
0,Available Online,available_online,<p>School offers fully online courses</p>,app-academy,10525
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,app-academy,10525
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,app-academy,10525
0,Available Online,available_online,<p>School offers fully online courses</p>,brainstation,10571
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,brainstation,10571
2,Accepts GI Bill,accepts_gi_bill,<p>School accepts the GI Bill</p>,brainstation,10571
0,Available Online,available_online,<p>School offers fully online courses</p>,udacity,11118
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,udacity,11118
0,Available Online,available_online,<p>School offers fully online courses</p>,design-sprint-school,10698
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,design-sprint-school,10698
0,Available Online,available_online,<p>School offers fully online courses</p>,neoland,10906
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,neoland,10906
0,Available Online,available_online,<p>School offers fully online courses</p>,ux-design-institute,11150
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,ux-design-institute,11150
0,Available Online,available_online,<p>School offers fully online courses</p>,careerfoundry,10581
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,careerfoundry,10581
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,careerfoundry,10581
0,Available Online,available_online,<p>School offers fully online courses</p>,springboard,11035
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,springboard,11035
2,Job Guarantee,job_guarantee,<p>School guarantees job placement</p>,springboard,11035
0,Available Online,available_online,<p>School offers fully online courses</p>,codesmith,10643
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,codesmith,10643
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,codesmith,10643
0,Available Online,available_online,<p>School offers fully online courses</p>,devmountain,10710
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,devmountain,10710
0,Available Online,available_online,<p>School offers fully online courses</p>,le-wagon,10868
1,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,le-wagon,10868
0,Available Online,available_online,<p>School offers fully online courses</p>,tech-elevator,11056
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,tech-elevator,11056
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,tech-elevator,11056
3,Accepts GI Bill,accepts_gi_bill,<p>School accepts the GI Bill</p>,tech-elevator,11056
0,Available Online,available_online,<p>School offers fully online courses</p>,hack-reactor,10788
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,hack-reactor,10788
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,hack-reactor,10788
3,VET TEC Provider,vet_tec_provider,<p>School is a VET TEC Provider</p>,hack-reactor,10788
0,Available Online,available_online,<p>School offers fully online courses</p>,fullstack-academy,10751
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,fullstack-academy,10751
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,fullstack-academy,10751
3,VET TEC Provider,vet_tec_provider,<p>School is a VET TEC Provider</p>,fullstack-academy,10751
0,Available Online,available_online,<p>School offers fully online courses</p>,the-tech-academy,11091
1,Verified Outcomes,verified_outcomes,<p>School publishes a third-party verified out...,the-tech-academy,11091
2,Flexible Classes,flexible_classes,<p>School offers part-time and evening classes...,the-tech-academy,11091
0,Available Online,available_online,<p>School offers fully online courses</p>,bloomtech,10854

In [96]:
def remove_tags(x):
        TAG_RE = re.compile(r'<[^>]+>')
        return TAG_RE.sub('',x)

In [97]:
badges['description'] = badges['description'].apply(remove_tags)
badges

,name,keyword,description,school,school_id
0,Available Online,available_online,School offers fully online courses,ironhack,10828
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,ironhack,10828
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,ironhack,10828
0,Available Online,available_online,School offers fully online courses,app-academy,10525
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,app-academy,10525
2,Job Guarantee,job_guarantee,School guarantees job placement,app-academy,10525
0,Available Online,available_online,School offers fully online courses,brainstation,10571
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,brainstation,10571
2,Accepts GI Bill,accepts_gi_bill,School accepts the GI Bill,brainstation,10571
0,Available Online,available_online,School offers fully online courses,udacity,11118
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,udacity,11118
0,Available Online,available_online,School offers fully online courses,design-sprint-school,10698
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,design-sprint-school,10698
0,Available Online,available_online,School offers fully online courses,neoland,10906
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,neoland,10906
0,Available Online,available_online,School offers fully online courses,ux-design-institute,11150
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,ux-design-institute,11150
0,Available Online,available_online,School offers fully online courses,careerfoundry,10581
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,careerfoundry,10581
2,Job Guarantee,job_guarantee,School guarantees job placement,careerfoundry,10581
0,Available Online,available_online,School offers fully online courses,springboard,11035
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,springboard,11035
2,Job Guarantee,job_guarantee,School guarantees job placement,springboard,11035
0,Available Online,available_online,School offers fully online courses,codesmith,10643
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,codesmith,10643
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,codesmith,10643
0,Available Online,available_online,School offers fully online courses,devmountain,10710
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,devmountain,10710
0,Available Online,available_online,School offers fully online courses,le-wagon,10868
1,Flexible Classes,flexible_classes,School offers part-time and evening classes,le-wagon,10868
0,Available Online,available_online,School offers fully online courses,tech-elevator,11056
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,tech-elevator,11056
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,tech-elevator,11056
3,Accepts GI Bill,accepts_gi_bill,School accepts the GI Bill,tech-elevator,11056
0,Available Online,available_online,School offers fully online courses,hack-reactor,10788
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,hack-reactor,10788
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,hack-reactor,10788
3,VET TEC Provider,vet_tec_provider,School is a VET TEC Provider,hack-reactor,10788
0,Available Online,available_online,School offers fully online courses,fullstack-academy,10751
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,fullstack-academy,10751
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,fullstack-academy,10751
3,VET TEC Provider,vet_tec_provider,School is a VET TEC Provider,fullstack-academy,10751
0,Available Online,available_online,School offers fully online courses,the-tech-academy,11091
1,Verified Outcomes,verified_outcomes,School publishes a third-party verified outcom...,the-tech-academy,11091
2,Flexible Classes,flexible_classes,School offers part-time and evening classes,the-tech-academy,11091
0,Available Online,available_online,School offers fully online courses,bloomtech,10854

In [98]:
badges.shape

(46, 5)

In [99]:
badges.info()

<class 'pandas.core.frame.DataFrame'>
Index: 46 entries, 0 to 0
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         46 non-null     object
 1   keyword      46 non-null     object
 2   description  46 non-null     object
 3   school       46 non-null     object
 4   school_id    46 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.2+ KB

In [100]:
schools = pd.concat(schools_list)
schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,"<span class=""truncatable""><p>Ironhack is a glo...",https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"<span class=""truncatable""><p>Founded in 2012, ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,brainstation.io,"<span class=""truncatable""><p>BrainStation is t...",https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571
0,www.udacity.com/?utm_source=switchup&utm_mediu...,"<span class=""truncatable""><p>Udacity is the tr...",https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
0,www.designsprintschool.com,"<span class=""truncatable""><p>The best program ...",https://d92mrp7hetgfk.cloudfront.net/images/si...,design-sprint-school,10698

In [101]:

schools['description'] = schools['description'].apply(remove_tags)

schools.head()

,website,description,LogoUrl,school,school_id
0,www.ironhack.com/en,Ironhack is a global tech school with 9 campus...,https://d92mrp7hetgfk.cloudfront.net/images/si...,ironhack,10828
0,appacademy.io,"Founded in 2012, App Academy is a world-renown...",https://d92mrp7hetgfk.cloudfront.net/images/si...,app-academy,10525
0,brainstation.io,BrainStation is the global leader in digital s...,https://d92mrp7hetgfk.cloudfront.net/images/si...,brainstation,10571
0,www.udacity.com/?utm_source=switchup&utm_mediu...,Udacity is the trusted market leader in talent...,https://d92mrp7hetgfk.cloudfront.net/images/si...,udacity,11118
0,www.designsprintschool.com,The best program to learn and practice online ...,https://d92mrp7hetgfk.cloudfront.net/images/si...,design-sprint-school,10698

In [102]:
def scrape_school_info(school):
    courses_data = []
    url = f"https://www.switchup.org/bootcamps/{school}"

    response = requests.get(url)
    soup = BeautifulSoup(response.content, 'html.parser')

    courses_sections = soup.find_all('div', class_="course")

    for section in courses_sections:
        course_name = section.find('h4').text.strip()
        try:
            course_cost = section.find('div', class_="cost").find('span')
        except AttributeError as ae:
            course_cost = "NA"
        have_cost = len(section.find('div', class_="course__datapoints").find_all("div"))
        if have_cost > 1:
            course_duration = str(section.find('div', class_="course__datapoints").find_all("div")[1]).replace("<div> <strong>Duration:</strong>", "").replace("<span>", "").replace("</span> </div>", "")
        else:
            course_duration = "NA"

        courses_data.append({
            'school_name': school,
            'course_name': course_name,
            'duration': course_duration,
            'cost': course_cost
        })

    return courses_data

school_names = ['ironhack', 'app-academy', 'brainstation', 'udacity', 'design-sprint-school', 'neoland', 'ux-design-institute', 'careerfoundry', 'springboard', 'codesmith', 'devmountain', 'le-wagon', 'tech-elevator', 'hack-reactor', 'fullstack-academy', 'the-tech-academy', 'bloomtech']

all_courses = []

for school in school_names:
    school_courses = scrape_school_info(school)
    all_courses.extend(school_courses)

costs = pd.DataFrame(all_courses)
costs

,school_name,course_name,duration,cost
0,ironhack,Web Development Bootcamp,9 weeks,"[ $12,000 ]"
1,ironhack,Web Development Part-Time,24 weeks,"[ $13,000 ]"
2,ironhack,UX/UI Design Bootcamp,9 weeks,"[ $12,000 ]"
3,ironhack,UX/UI Design Part-Time,24 weeks,"[ $13,000 ]"
4,ironhack,Cyber Security Bootcamp,12 weeks,"[ €7,500 ]"
...,...,...,...,...
112,the-tech-academy,Full-Time Software Developer Boot Camp,22 weeks,"[ $11,660 ]"
113,bloomtech,Free Coding Course: Intro to HTML and CSS,NA,[Free]
114,bloomtech,Full Time Backend Development,36 weeks,"[ $21,950 ]"
115,bloomtech,Full Time Data Science,24 weeks,"[ $21,950 ]"
116,bloomtech,Full Time Full Stack Web Development,24 weeks,"[ $21,950 ]"

In [103]:
costs['cost'].value_counts()

cost
[ $9,900  ]     11
NA              10
[ $13,495  ]     7
[ €6,950  ]      6
[ $3,250  ]      5
[ $16,500  ]     4
[ $690  ]        4
[ $1,077  ]      4
[ $3,950  ]      3
[ $1,436  ]      3
[ $20,925  ]     3
[ $21,950  ]     3
[ $2,000  ]      3
[ $19,910  ]     3
[ $7,950  ]      3
[ €7,500  ]      3
[ $4,900  ]      2
[ $17,980  ]     2
[ $349  ]        2
[ $11,660  ]     2
[ $8,500  ]      2
[ $13,000  ]     2
[ $12,000  ]     2
[ $500  ]        2
[ $2,154  ]      2
[Free]           2
[ $6,900  ]      2
[ $79  ]         2
[ $490  ]        1
[ $20,000  ]     1
[ $9,540  ]      1
[ $9,010  ]      1
[ €8,000  ]      1
[ $5,300  ]      1
[ $8,480  ]      1
[ $10,600  ]     1
[ $17,000  ]     1
[ $22,000  ]     1
[ £850  ]        1
[ £1,750  ]      1
[ $49  ]         1
[ $350  ]        1
[ $925  ]        1
[ $718  ]        1
[ $5,900  ]      1
[ £2,950  ]      1
Name: count, dtype: int64

In [104]:
costs.shape

(117, 4)

In [105]:
costs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 117 entries, 0 to 116
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   school_name  117 non-null    object
 1   course_name  117 non-null    object
 2   duration     117 non-null    object
 3   cost         117 non-null    object
dtypes: object(4)
memory usage: 3.8+ KB

In [106]:
costs['cost'] = costs['cost'].astype('str')

In [107]:
costs['cost'] = costs['cost'].apply(remove_tags)

In [108]:
costs

,school_name,course_name,duration,cost
0,ironhack,Web Development Bootcamp,9 weeks,"$12,000"
1,ironhack,Web Development Part-Time,24 weeks,"$13,000"
2,ironhack,UX/UI Design Bootcamp,9 weeks,"$12,000"
3,ironhack,UX/UI Design Part-Time,24 weeks,"$13,000"
4,ironhack,Cyber Security Bootcamp,12 weeks,"€7,500"
...,...,...,...,...
112,the-tech-academy,Full-Time Software Developer Boot Camp,22 weeks,"$11,660"
113,bloomtech,Free Coding Course: Intro to HTML and CSS,NA,Free
114,bloomtech,Full Time Backend Development,36 weeks,"$21,950"
115,bloomtech,Full Time Data Science,24 weeks,"$21,950"
116,bloomtech,Full Time Full Stack Web Development,24 weeks,"$21,950"

In [109]:
dollar_rows = costs['cost'].str.contains('\$', regex=True)

In [110]:
libra_rows = costs['cost'].str.contains('\£', regex=True)

In [111]:
dollar_to_euro_exchange_rate = 0.91

In [112]:
libra_to_euro_exchange_rate = 1.15

In [113]:
costs['cost'] = costs['cost'].apply(lambda x: x.strip())

In [114]:
costs['cost'] = costs['cost'].apply(lambda x: ''.join(char for char in x if char.isdigit()))
costs['cost'] = costs['cost'].apply(lambda x: 0 if x=='' else x)

In [115]:
costs['cost'] = costs['cost'].astype('int')

In [116]:
costs.loc[dollar_rows, 'cost'] = round(costs.loc[dollar_rows, 'cost'] * dollar_to_euro_exchange_rate, 2)

/var/folders/xb/vbkygnls2kq6z12lrq5ymftc0000gn/T/ipykernel_20079/3719263617.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[10920.   11830.   10920.   11830.   15470.   18200.   20020.     455.
   455.    2957.5  15015.    2957.5   2957.5  15015.    2957.5   3594.5
  2957.5   3594.5   3594.5    980.07   653.38   980.07  1960.14   980.07
  1960.14  1306.76   980.07  1306.76  1306.76    71.89    71.89  1820.
  1820.    6279.    6279.    1820.    7735.     627.9    627.9    627.9
   627.9   9009.    7735.    9009.     445.9    317.59  9009.    5369.
   317.59  9009.   19041.75 19041.75   841.75   318.5  19041.75  9009.
  9009.      44.59  9009.    9009.    9009.    9009.    4459.    4459.
  9009.   15015.   15015.   16361.8  16361.8  12280.45 12280.45 12280.45
 12280.45 18118.1  18118.1  12280.45 18118.1  12280.45 12280.45  7234.5
  9646.    7716.8   4823.   10610.6   7234.5   8199.1   8681.4   7234.5
 10610.6  19974.5  19974.5  19974.5 ]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  costs.loc[dollar_rows, 'cost'] = round(costs.loc[dollar_rows, 'cost'] * dollar_to_euro_exchange_rate, 2)

In [117]:
costs.loc[libra_rows, 'cost'] = round(costs.loc[libra_rows, 'cost'] * libra_to_euro_exchange_rate, 2)

In [118]:
costs['duration'] = costs['duration'].apply(lambda x: x.replace('NA','not specified'))

In [119]:
costs.shape

(117, 4)

In [120]:
costs.course_name.value_counts()

course_name
Web Development Bootcamp                2
UX/UI Design Bootcamp                   2
UX/UI Design Part-Time                  2
Front-End Web Development               2
Data Science Bootcamp                   2
                                       ..
Live Online Design Sprint Experience    1
Cloud Dev Ops Engineer                  1
C++                                     1
Business Analytics                      1
Full Time Full Stack Web Development    1
Name: count, Length: 112, dtype: int64

In [121]:
schools = {   
'ironhack' : 10828,
'app-academy' : 10525, 
'brainstation' : 10571,
'udacity' : 11118,
'design-sprint-school' : 10698,
'neoland' : 10906,
'ux-design-institute' : 11150,
'careerfoundry' : 10581,
'springboard' : 11035,
'codesmith' : 10643,
'devmountain' : 10710,
'le-wagon' : 10868,
'tech-elevator' : 11056,
'hack-reactor' : 10788,
'fullstack-academy' : 10751,
'the-tech-academy' : 11091,
'bloomtech' : 10854  
}

costs['school_id'] = [schools[row] for row in costs['school_name'] if row in schools.keys()]

In [122]:
costs

,school_name,course_name,duration,cost,school_id
0,ironhack,Web Development Bootcamp,9 weeks,10920.0,10828
1,ironhack,Web Development Part-Time,24 weeks,11830.0,10828
2,ironhack,UX/UI Design Bootcamp,9 weeks,10920.0,10828
3,ironhack,UX/UI Design Part-Time,24 weeks,11830.0,10828
4,ironhack,Cyber Security Bootcamp,12 weeks,7500.0,10828
...,...,...,...,...,...
112,the-tech-academy,Full-Time Software Developer Boot Camp,22 weeks,10610.6,11091
113,bloomtech,Free Coding Course: Intro to HTML and CSS,not specified,0.0,10854
114,bloomtech,Full Time Backend Development,36 weeks,19974.5,10854
115,bloomtech,Full Time Data Science,24 weeks,19974.5,10854
116,bloomtech,Full Time Full Stack Web Development,24 weeks,19974.5,10854

In [153]:
costs['cost'].dtype

dtype('float64')

In [156]:
costs['cost'] = pd.to_numeric(costs['cost'], errors='coerce')

In [123]:
set1 = set(costs['course_name'])
set2 = set(courses['courses'])
common_elements = set1.intersection(set2)
unique_to_list2 = set2.difference(set1)

print(f"Common elements: {len(common_elements)} and set1:{len(set1)} and set2:{len(set2)}")
print(unique_to_list2)

Common elements: 112 and set1:112 and set2:179
{'Part-Time Data Science Boot Camp', 'Part-Time Game Developer Boot Camp', 'Data Analyst', 'UI for UX Designers Course', 'Part-Time C# and .NET Framework Boot Camp', 'UX Design Program', 'Self-Paced UI/UX Designer Boot Camp', 'Self-Paced Java and Android Developer Boot Camp', 'Self-Paced Front-End Web Developer Boot Camp', 'Self-Driving Car Engineer', 'Data Structures and Algorithms', 'User Interface Design Course', 'Self-Paced Mobile App Developer', 'Product Management Program', 'Self-Paced Python Developer Boot Camp', 'UX Career Track', 'Intro to UI Design Course', 'Part-Time Software Developer Boot Camp', 'UI Design Program', 'UI/UX Design Career Track', 'Self-Paced Software Developer Boot Camp', 'iOS Developer', 'Part-Time UI/UX Designer Boot Camp', 'Intro to UX Design Course', 'Part-Time Mobile App Developer Boot Camp', 'Social Media Marketing Course', 'Cloud Developer', 'Robotics Software Engineer', 'Deep Reinforcement Learning', 'Data Engineer', 'User Experience Design Bootcamp', 'Part-Time Python Developer Boot Camp', 'Data Visualization', 'Part-Time Java and Android Developer Boot Camp', 'Self-Paced C# and .NET Framework Boot Camp', 'User Experience Design Course', 'Marketing Analytics', 'Part-Time Front-End Web Developer Boot Camp', 'Digital Marketing', 'Part-Time Cyber Security Boot Camp', 'Machine Learning Engineer', 'Software Engineering Career Track Prep Course', 'Front End Web Developer', 'Self-Paced Cyber Security Boot Camp', 'User Experience Design | After Hours', 'Java Developer', 'Search Engine Marketing Course', 'UX Designer', 'Full-Time UI/UX Designer Boot Camp', 'Natural Language Processing', 'Computer Vision', 'Self-Paced JavaScript Developer Boot Camp', 'Deep Learning', 'Python for Web Developers Course', 'Web Development Course', 'Product Management Course', 'Predictive Analytics for Business', 'Voice User Interface Design Course', 'Part-Time JavaScript Developer Boot Camp', 'Self-Paced Data Science Boot Camp', 'Self-Paced Game Developer Boot Camp', 'Full Stack Web Developer', 'Introduction to Programming', 'Software Engineering Bootcamp', 'Python Course', 'Introduction to Machine Learning', 'React'}

In [124]:
costs['course_name'].value_counts()

course_name
Web Development Bootcamp                2
UX/UI Design Bootcamp                   2
UX/UI Design Part-Time                  2
Front-End Web Development               2
Data Science Bootcamp                   2
                                       ..
Live Online Design Sprint Experience    1
Cloud Dev Ops Engineer                  1
C++                                     1
Business Analytics                      1
Full Time Full Stack Web Development    1
Name: count, Length: 112, dtype: int64

In [133]:
filtered_values = costs.loc[costs['course_name'].str.contains('data', case=False), 'course_name']
print(filtered_values)

6                            Data Analytics Bootcamp
7                           Data Analytics Part-Time
18                             Data Analytics Course
19                             Data Science Bootcamp
20                               Data Science Course
37                             Data Science Bootcamp
38                            Data Science Part-Time
48                                    Data Analytics
52                    Intro to Data Analytics Course
58                       Data Analytics Career Track
59                         Data Science Career Track
60                    Data Science Career Track Prep
61                    Introduction to Data Analytics
81                        Data Analytics - Full-Time
82                        Data Analytics - Part-Time
83                      Data Engineering - Full-Time
84                      Data Engineering - Part-Time
85                     Data Science & AI - Full-Time
86                     Data Science & AI - Part-Time
101    Fullstack Data Analytics Bootcamp (Full-Time)
102    Fullstack Data Analytics Bootcamp (Part-Time)
105                 Full-Time Data Science Boot Camp
115                           Full Time Data Science
Name: course_name, dtype: object

In [135]:
costs.loc[costs['course_name'].str.contains('Data Analytics'), 'course_name'] = 'Data Analytics'

In [140]:
costs['course_name'].value_counts()

course_name
Data Analytics                          11
UX/UI Design                             6
Web Development Bootcamp                 2
Front-End Web Development                2
Data Science Bootcamp                    2
                                        ..
Live Online Design Sprint Experience     1
Cloud Dev Ops Engineer                   1
C++                                      1
Business Analytics                       1
Full Time Full Stack Web Development     1
Name: count, Length: 99, dtype: int64

In [142]:
filtered_values = costs.loc[costs['course_name'].str.contains('UX', case=False), 'course_name']
print(filtered_values)

2     UX/UI Design
3     UX/UI Design
40    UX/UI Design
41    UX/UI Design
43    UX/UI Design
45    UX/UI Design
Name: course_name, dtype: object

In [139]:
costs.loc[costs['course_name'].str.contains('UX'), 'course_name'] = 'UX/UI Design'

In [146]:
filtered_values = costs.loc[costs['course_name'].str.contains('Security', case=False), 'course_name']
print(filtered_values)

4      Cyber Security
5      Cyber Security
16     Cyber Security
17     Cyber Security
57     Cyber Security
95     Cyber Security
96     Cyber Security
104    Cyber Security
Name: course_name, dtype: object

In [145]:
costs.loc[costs['course_name'].str.contains('Security|Cybersecurity'), 'course_name'] = 'Cyber Security'

In [151]:
filtered_values = costs.loc[costs['course_name'].str.contains('Web', case=False), 'course_name']
print(filtered_values)

0      Web Development
1      Web Development
42     Web Development
47     Web Development
51     Web Development
56     Web Development
71     Web Development
72     Web Development
74     Web Development
87     Web Development
88     Web Development
100    Web Development
106    Web Development
116    Web Development
Name: course_name, dtype: object

In [150]:
costs.loc[costs['course_name'].str.contains('Web Development|Web Developer'), 'course_name'] = 'Web Development'

In [160]:
def clean_duration(duration):
    return duration.strip().replace('weeks', '')

costs['duration'] = costs['duration'].apply(clean_duration)

In [161]:
costs = costs.rename(columns={'duration': 'duration_weeks'})

In [162]:
costs

,school_name,course_name,duration_weeks,cost,school_id
0,ironhack,Web Development,9,10920.0,10828
1,ironhack,Web Development,24,11830.0,10828
2,ironhack,UX/UI Design,9,10920.0,10828
3,ironhack,UX/UI Design,24,11830.0,10828
4,ironhack,Cyber Security,12,7500.0,10828
...,...,...,...,...,...
112,the-tech-academy,Full-Time Software Developer Boot Camp,22,10610.6,11091
113,bloomtech,Free Coding Course: Intro to HTML and CSS,not specified,0.0,10854
114,bloomtech,Full Time Backend Development,36,19974.5,10854
115,bloomtech,Full Time Data Science,24,19974.5,10854
116,bloomtech,Web Development,24,19974.5,10854

In [164]:
costs.to_csv('costs_df.csv', index=False)